<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ButtonStyles</key>
	<dict>
		<key>1</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>FFFFFF</string>
			<key>backgroundColor</key>
			<string>336FA3</string>
		</dict>
		<key>2</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>336FA3</string>
			<key>backgroundColor</key>
			<string>FFFFFF</string>
		</dict>
		<key>3</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>FFFFFF</string>
			<key>backgroundColor</key>
			<string>68666A</string>
		</dict>
	</dict>
	<key>LabelStyles</key>
	<dict>
		<key>1</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>2</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>16</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>3</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>18</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>4</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>20</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>5</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>22</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>6</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Medium</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>7</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>20</integer>
			<key>fontColor</key>
			<string>336FA3</string>
		</dict>
		<key>8</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Medium</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>3C3A44</string>
		</dict>
		<key>9</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>16</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>10</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>20</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>11</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>12</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>16</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>13</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>18</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>14</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>20</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
		<key>15</key>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>22</integer>
			<key>fontColor</key>
			<string>000000</string>
		</dict>
	</dict>
</dict>
</plist>
